.bannerSection {
    display: flex;
    background-color: black;
    color: white;
    height: 200px;
    justify-content: center;
    align-items: center;   
}

.bannerTextSection {
    width: 40%;
    text-align: center;
}

.bannerText {
    color: white;
}


/* MEDIA SCREENS */
@media screen and (max-width: 912px) {
    .bannerText {
        font-size: 18px;
    }
    .bannerTextSection {
        width: 80%;
    }

    .bannerSection {
        height: 120px;
    }
}