.footerSectionWrapper {
  background-color: black;
  display: flex;
  justify-content: space-between;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

/* FOOTER LEFT SIDE */
.footerLeftSideLogo {
  width: 220px;
  padding-bottom: 50px;
}

.footerLeftSideLinksContainerOne {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.footerFirstLinks {
  padding-bottom: 20px;
  text-decoration: none;
  color: white;
}

.footerSecondLinks {
  padding-right: 20px;
  text-decoration: none;
  color: white;
}

.footerSecondLinksMobile {
    display: none;
}

/* FOOTER RIGHT SIDE */
.footerRightSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerRightSideFormTitle {
  padding-bottom: 20px;
}

.footerSmIcon {
  width: 35px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 50px;
}

/* FOOTER BOTTOM/COPYRIGHT */
.footerCopyrightContainer {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  padding-bottom: 20px;
}

/* MEDIA SCREENS */
@media screen and (max-width: 912px) {
  .footerSectionWrapper {
    display: flex;
    flex-direction: column;
    padding: 25px;
  }

  .footerLeftSideLogo {
    width: 150px;
    padding-bottom: 20px;
  }

  .footerLeftSideLinksContainerOne {
    font-size: 12px;
    padding-bottom: 40px;
  }

  .footerSecondLinks {
    display: none;
  }

  .footerRightSideFormTitle {
    font-size: 14px;
    padding-bottom: 10px;
  }

  .footerRightSideFormInputField {
    font-size: 12px;
    padding: 3px 80px 3px 10px;
  }

  .footerSmIcon {
    width: 25px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 20px;
  }

  .footerCopyrightContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footerSecondLinksMobile {
    display: inline-flex;
    font-size: 12px;
    color: white;
    text-decoration: none;
    padding: 20px;
  }

  .footerCopyright {
    font-size: 12px;
  }
}
 
/* EXTRA LARGE SCREEN */
@media screen and (min-width: 1900px) {
  .footerFirstLinks {
    font-size: 20px;
  }
  
  .footerSecondLinks {
    font-size: 20px;
  }

  .footerLeftSideLogo {
    width: 320px;
  }

  .footerRightSideFormTitle {
    font-size: 20px;
  }

  .footerCopyright {
    font-size: 20px;
  }

  .footerSmIcon {
    width: 3rem;
    padding-right: 10px;
    padding-left: 10px;
  }
}