.heroSection {
    background: url('../public/assets/hero_img.png');
    display: flex;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.heroTextWrapper {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    position: relative;
    bottom: 5vh;
    justify-content: space-between;
    padding: 0rem 0rem 0rem 4rem;
}

/* LEFT SIDE - SLOGAN & INFO */
.heroTextContainerLeft {
    max-width: 50%;
    flex-direction: column;
}

.leftSideHeading {
    max-width: 5em;
    font-size: clamp(3rem, 10vw, 10rem);
    line-height: 1.1;
}

.leftSideParagraph {
    font-size: clamp(1rem, 2vw, 3rem);
    max-width: 32em;
    color: white;
}

.planeIllustration {
    width: 100%;
}


/* RIGHT SIDE - EMAIL INPUT */
.heroTextContainerRight {
    max-width: 30%;
    flex-direction: column;
    position: relative;
    bottom: 3vh;
}

.rightSideHeading {
    font-size: clamp(2rem, 5vw, 6rem);
    padding-bottom: 1rem;
    line-height: 1.1;
}

.rightSideParagraph {
    border: 2px solid white;
    border-radius: 50px;
    width: clamp(14rem, 12vw, 18rem);
    padding: 0.2rem 0rem 0.2rem 0.7rem; 
}