.heroSection {
  background: url("../public/assets/hero_img.png");
  display: flex;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.heroTextWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* LEFT SIDE - SLOGAN & INFO */
.heroTextContainerLeft {
  margin-left: 60px;
  position: absolute;
  bottom: 40px;
}

.leftSideHeading {
  font-size: 98px;
  width: 495px;
  line-height: 1.1;
  padding-bottom: 20px;
}

.leftSideParagraph {
  font-size: 24px;
  width: 520px;
  color: white;
  padding-bottom: 20px;
}

.planeIllustrationDesktop {
  width: 520px;
  height: auto;
}

.planeIllustrationMobile {
  display: none;
}

.emailInputWrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-items: center;
  right: 0;
  bottom: -5px;
  margin: 60px;
}

/* MEDIA SCREENS */
@media screen and (max-width: 912px) {
  .heroTextWrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
  }

  /* SLOGAN, INFO & ILLUSTRATION */
  .heroTextContainerLeft {
    margin-left: 20px;
    margin-bottom: 20px;
    position: unset;
  }

  .leftSideHeading {
    font-size: 49px;
    width: 235px;
    line-height: 1;
  }

  .leftSideParagraph {
    font-size: 16px;
    width: 332px;
  }

  /* PLANE ILLUSTRATION */
  .planeIllustrationDesktop {
    display: none;
  }

  .planeIllustrationMobile {
    display: inline;
    width: 85%;
    height: auto;
    padding: 20px;
  }

  .emailInputWrapper {
    position: unset;
    margin: 0px;
  }
}

/* EXTRA LARGE SCREEN */
@media screen and (min-width: 1900px) {
  .leftSideHeading {
    font-size: 147px;
    width: 750px;
  }

  .leftSideParagraph {
    font-size: 36px;
    width: 770px;
    color: white;
  }

  .planeIllustrationDesktop {
    width: 770px;
  }
}
