/* DESKTOP */
.infoSectionWrapper {
  background-color: #d9d9d9;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 120px;
  padding-right: 120px;
}

.infoSection {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.imgScreenShot {
  width: 450px;
  height: auto;
}

.infoSectionTextContainer {
  text-align: right;
  width: 395px;
}

.infoSectionTitle {
  padding-bottom: 40px;
  color: black;
}

.infoSectionParagraph {
  letter-spacing: 1px;
}
/* MOBILE DEVICES */
@media screen and (max-width: 600px) {
  .infoSectionWrapper {
    padding: 40px;
  }

  .infoSection {
    flex-direction: column;
  }

  .imgScreenShot {
    width: 310px;
    height: auto;
    padding-bottom: 40px;
  }

  .infoSectionTextContainer {
    text-align: left;
    width: 295px;
  }
  .infoSectionTitle {
    font-size: 32px;
    padding-bottom: 20px;
  }

  .infoSectionParagraph {
    font-size: 12px;
  }
}
/* TABLET DEVICES */
@media screen and (min-width: 601px) and (max-width: 900px) {
  .infoSectionWrapper {
    padding: 40px;
  }

  .infoSection {
    flex-direction: column;
  }

  .imgScreenShot {
    width: 310px;
    height: auto;
    padding-bottom: 40px;
  }

  .infoSectionTextContainer {
    text-align: left;
    width: 295px;
  }
  .infoSectionTitle {
    font-size: 32px;
    padding-bottom: 20px;
  }

  .infoSectionParagraph {
    font-size: 12px;
  }
}

/* WIDE SCREEN DESKTOP */
@media screen and (min-width: 1536px) {
  .imgScreenShot {
    width: 590px;
    height: auto;
  }

  .infoSectionTextContainer {
    width: 640px;
  }

  .infoSectionTitle {
    font-size: 82px;
  }

  .infoSectionParagraph {
    font-size: 20px;
  }
}
