.infoSectionWrapper {
    background-color: #D9D9D9;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 120px;
    padding-right: 120px;
}

.infoSection {
    display: flex; 
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.imgScreenShot {
    width: 450px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.infoSectionTextContainer {
    text-align: right;
    width: 395px;
}

.infoSectionTitle {
    padding-bottom: 40px;
    color: black;
}

.infoSectionParagraph {
    letter-spacing: 1px;
}

/* MEDIA SCREENS */
@media screen and (max-width: 912px) {
    .infoSectionWrapper {
        padding: 40px;
    }
    
    .infoSection {
        flex-direction: column;
    }

    .imgScreenShot {
        width: 310px;
        padding-bottom: 40px;
    }

    .infoSectionTextContainer {
        width: 295px;
    }
    .infoSectionTitle {
        font-size: 32px;
        padding-bottom: 20px;
    }
    
    .infoSectionParagraph {
        font-size: 12px;
    }
}