.introSectionWrapper {
    background-color: #323232;
    padding: 80px;
}

.introSection {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.imgScreenShot {
    width: 260px; 
}

.introSectionTextContainer {
    text-align: right;
}

.introSectionTitle {
    padding-bottom: 40px;
    width: 495px;
}

.introSectionParagraph {
    letter-spacing: 1px;
    width: 495px;
    color: white;
}

/* MEDIA SCREENS */
@media screen and (max-width: 912px) {
    .introSectionWrapper {
        padding: 40px;
    }
    
    .introSection {
        flex-direction: column;
    }

    .introSectionTextContainer {
        text-align: left;
    }

    .imgScreenShot {
        width: 190px;
        padding-bottom: 40px;
    }

    .introSectionTitle {
        font-size: 32px;
        width: 295px;
        padding-bottom: 20px;
    }
    
    .introSectionParagraph {
        font-size: 12px;
        width: 295px;
        color: white;
    }
}

/* EXTRA LARGE SCREEN */
@media screen and (min-width: 1900px) {
    .imgScreenShot {
        width: 360px; 
    }   
    
    .introSectionTitle {
        font-size: 82px;
        width: 600px;
    }
    
    .introSectionParagraph {
        font-size: 20px;
        width: 600px;
    }
}