.introSectionWrapper {
    background-color: #323232;
}

.introSectionContent {
    display: flex;
    flex-direction: column;
    padding: 100px;
}

.introSectionOne {
    display: flex;
    padding-bottom: 100px;
}

.introSectionOneImgContainer, .introSectionTwoImgContainer {
    width: 50%;
}

.introSectionImgOne, .introSectionImgTwo {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.introSectionOneTextContainer, .introSectionTwoTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.introSectionOneTitle, .introSectionOneParagraph {
    text-align: right;
}

.introSectionOneParagraph, .introSectionTwoParagraph {
    color: white;
}

.introSectionTwo {
    display: flex;
    flex-direction: row-reverse;
}

.introSectionTwoImgContainer {
    display: flex;
    width: 50%;
    justify-content: flex-end;
}