.navbarWrapper {
  position: fixed;
  display: flex;
  width: 100%;
  height: 85px;
  justify-content: space-between;
  align-items: flex-end;
  color: white;
  align-items: center;
  z-index: 2;
  transition: 0.4s ease-in-out;
}

.navbarWrapperBg {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  display: flex;
  width: 100%;
  height: 85px;
  justify-content: space-between;
  align-items: flex-end;
  color: white;
  align-items: center;
  z-index: 2;
}
  
.logoWrapper {
  display: flex;
  align-items: flex-start;
  width: 25%;
  padding-left: 4rem;
}

.navbarLogo {
  width: 220px;
}
  
.rightSideNavbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  width: 25%;
  text-decoration: none;
  padding-right: 4rem;
}

.signUpBtn, .signInBtn {
  text-decoration: none;
  color: white;
}

.signInBtn {
  display: flex;
  justify-content: center;
  border: 2px solid white;
  border-radius: 50px;
  width: 35%;
  padding: 0.2rem 0rem 0.2rem 0rem;
}
