.signMeUpWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signMeUpHeading {
  width: 285px;
  padding-bottom: 20px;
  line-height: 1.1;
}


/* MEDIA SCREENS */
@media screen and (max-width: 912px) {
  .signMeUpHeading {
    font-size: 24px;
    width: 119px;
  }
  
  .signMeUpBtn {
    font-size: 12px;
    border: 2px solid white; 
    width: auto;
    margin-bottom: 20px;
    padding: 5px 10px 5px 10px;
  }
}